@charset "utf-8";
/* CSS Document */
body{ font-size:14px; color:#222; font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif; background:#fff;}
:focus {
outline: none;	/*去除对象(链接、按钮、图片、Flash等)选中时虚线外框*/
}
.wrapper{min-width:1200px;}
.icos{display:inline-block;*display:inline;*zoom:1;background-image:url(../images/icos.png); background-repeat:no-repeat; vertical-align:middle;}
.subject_icos{display:inline-block;*display:inline;*zoom:1;background-image:url(../images/subject_icos.png); background-repeat:no-repeat; vertical-align:middle;}

/* 头部 */
.header{ width:1000px; margin:0 auto;}
.header_top .icos{ width:20px; height:20px; margin-left:1px; background-color:#7a8e99;}
.header_top .ico_home{ background-position:0 0;}
.header_top .ico_collect{ background-position:-21px 0;}
.header_top .ico_top_weixin{ background-position:-42px 0;}
.header_top .icos:hover{ background-color:#425e6d;}
.header_con{ height:90px;}
/* logo */
.logo{ float:left; margin-top:0px;}

/* 导航 */
.nav{ float:right; margin-top:26px; font-size:16px;}
.nav a{ display:inline-block; float:left; width:95px; height:30px; line-height:30px; margin-left:11px; border-radius:2px; text-align:center; color:#3f3f3f;}
.nav a:hover, .nav a.active{ background:#4cbcf1;  color:#fff; text-decoration:none;}

/* 轮播导航 */
.slidesjs-pagination{position:absolute;z-index:20;}
.slidesjs-pagination li{width:12px;height:12px;border-radius:6px;background:#dcdddd;overflow:hidden;}
.slidesjs-pagination li a{display:block;width:100%; height:0;padding-top:12px;}
.slidesjs-pagination li a.active,.slidesjs-pagination li a:hover.active{background:#ffffff;}
.slidesjs-pagination li a:hover{background:#ffffff;}

/* banner */
.banner{ position:relative; height:489px; overflow:hidden;}
.banner .slidesjs-slide{height:489px; display:block;}
.banner .slidesjs-navigation{ position:absolute; top:195px; left:50%; z-index:20; width:36px; height:110px; text-indent:9999em; background-image:url(../images/icos.png); background-repeat:no-repeat;}
.banner .slidesjs-previous{ margin-left:-636px; background-position:0 -24px;}
.banner .slidesjs-next{ margin-left:600px; background-position:-39px -24px;}
.banner .slidesjs-pagination{left:50%;bottom:20px;margin-left:-30px;}
.banner .slidesjs-pagination li{float:left;margin:0 5px;}

/* 开发流程 */
.index_grayBox{ position:relative; z-index:20; background:#efefef; display: none;}
.index_grayCon{ position:relative; height:40px; padding:40px 0 22px;}
.gray_arrow{ position:absolute; left:50%; bottom:-20px; width:41px; height:21px; background-position:0 -136px; margin-left:-20px; display: none;}
.index_develop_process{ width:968px; height:40px; margin:0 auto; background:url(../images/develop_process.png) no-repeat;}

/* 首页公告 */
.index_announce{ position:absolute; top:-22px; left:0; width:518px; height:36px; line-height:36px; overflow:hidden;}
a.index_announce_til{float:left;padding:0 15px;background:#4cbcf1;color:#fff;}
.index_announce .index_announce_inc{ float:left; width:400px; background:#2b5166;}
.index_announce .index_announce_end{ float:left; width:16px; height:36px; background-position:-76px 0;}
.announce_info{ float:left; width:370px;}
.announce_info .datetime{ display:inline-block;font-size:12px; width:94px; margin-right:12px;color:#809dae; text-align:center;}
.announce_info a{ color:#c0ddec;}
.announce_btn{ float:right; padding-top:10px;}
.announce_btn a{ display:block; width:12px; height:5px;}
.announce_btn .btn_up{ background-position:-63px 0;}
.announce_btn .btn_down{ margin-top:7px; background-position:-63px -6px;}

/* 首页联系方式 */
.index_contact{ position:absolute; top:-22px; right:0;}
.index_contact a{color:#fff;display:inline-block;*display:inline;*zoom:1;position:relative;text-decoration:none;}
.index_contact a .contact_text{position:absolute;bottom:49px;left:50%;width:360px;margin-left:-179px;text-align:center;line-height:35px;display:none;padding-bottom:5px;}
.index_contact a:hover .contact_text{display:block;}
.contact_text .con_text{height:35px;}
.contact_text .con_text *{ vertical-align:middle;}
.contact_text .con_text span{display:inline-block;*display:inline;*zoom:1;background:#4cbcf1;padding-left:15px;}
.contact_text .con_text em{display:inline-block;*display:inline;*zoom:1;background:#4cbcf1;padding-right:15px;font-size:18px;}
.contact_text .con_arrow{line-height:9px;height:9px;}

.index_contact .ico_qq , .index_contact .ico_phone , .index_contact .ico_msg{ width:49px; height:49px; float:left; margin-left:5px;}
.index_contact .ico_qq{ background-position:-94px 0;}
.index_contact .ico_phone { background-position:-145px 0;}
.index_contact .ico_msg{ background-position:-196px 0;}
.index_contact .ico_qq:hover{ background-position:-94px -51px;}
.index_contact .ico_phone:hover{ background-position:-145px -51px;}
.index_contact .ico_msg:hover{ background-position:-196px -51px;}
.ico_con_arrow{width:12px;height:9px;line-height:9px;background-position:-76px -42px;+margin-top:-10px;}

/* 首页公司介绍 */
.index_slogan{ float:left; padding-top:24px; line-height:24px;}
.index_consult{ float:right; text-align:right; color:#606060; line-height:24px;}
.index_consult em{ color:#222;}
.index_intr{ padding:40px 0 25px; line-height:28px; text-align:left;  color:#606060;}
.index_intr span{ display:inline-block;}

/* 首页iloan */
.index_iloan{ height:326px; padding:30px 0 0; background:url(../images/iloan_bg.png) repeat;}
.index_iloan h3{ width:143px; height:43px; margin:0 auto; background:url(../images/icos.png) -264px -51px no-repeat;}
.index_iloan .iloan_more{ position:absolute; left:50%; margin-left:436px; display:block; width:64px; height:20px; line-height:20px; border:1px solid #fff; color:#fff; font-size:12px; text-align:center;}
.index_iloan .iloan_more:hover{ background:#b14552; text-decoration:none;}
.iloan_advantage{ width:820px; overflow:hidden; margin:15px auto 0;}
.iloan_advantage .iloan_adv_inc{ float:left; width:745px; height:46px; line-height:46px; padding:0 15px; background:#b14552; border:1px solid #d07a84; font-size:16px; color:#fff;}
.iloan_advantage .iloan_adv_text{ float:left; width:675px; text-align:center;}
.iloan_advantage .iloan_adv_text a{
	color: #ffffff;
}
.iloan_advantage .iloan_adv_btn{ float:right; width:40px; height:46px; background:#b14552; border:1px solid #d07a84;}
.iloan_advantage .iloan_adv_btn a{ display:block; width:17px; height:7px; margin:0 auto;}
.iloan_advantage .iloan_adv_btn .btn_up{ margin-top:14px; background-position:-247px 0;}
.iloan_advantage .iloan_adv_btn .btn_down{ margin-top:6px; background-position:-247px -8px;}
.iloan_scroll{position:relative;width:1000px;height:105px;margin:35px auto 0;color:#fff;}
.iloan_scroll .slidesjs-container{overflow:hidden;}
.iloan_scroll .scroll_item{ float:left; width:85px; margin:0 20px;}
.iloan_scroll .iloan_logo_box{ width:79px; height:79px; background:#fff; padding:3px;}
.iloan_scroll .iloan_logo_img{width:78px;height:78px;border:1px solid #df9fa7;display:table-cell;vertical-align:middle;text-align:center;*float:left;*display:block;*font-size:78px;*font-family:Arial;*line-height:1;}
.iloan_scroll .slidesjs-navigation{ position:absolute; top:5px; left:50%; z-index:20; width:66px; height:66px;background-image:url(../images/icos.png); background-repeat:no-repeat; font-size:0;}
.iloan_scroll .slidesjs-previous{ margin-left:-566px; background-position:-94px -104px;}
.iloan_scroll .slidesjs-next{ margin-left:500px; background-position:-164px -104px;}

/* 标题 */
.index_til{height:3px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;text-align:center; display: none;}
.ico_index_til{width:141px;height:141px;background-position:0 -180px;margin-top:-75px;font-size:22px;color:#fff;}
.ico_index_til .index_til_text{display:table-cell;vertical-align:middle;width:141px;height:141px;+display:block;+margin-top:44px;}
.ico_index_til em{line-height:25px;vertical-align:middle;}
.ico_index_til em.text{font-size:22px;}
.ico_service{width:146px;height:73px;background-position:-264px -98px;margin-top:-37px;}
.main_til{padding:60px 0 30px;}
.main_til_bg{height:3px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;}
.main_til_con{background:#fff;font-size:18px;color:#425e6d;float:left;margin-top:-25px;padding-right:10px;}
.main_til_con .english_til{font-size:26px;color:#4cbcf1;margin-left:20px;font-family:"Perpetua Titling MT","宋体";}
.main_til_site{color:#c1c1c1;float:right;margin-top:-30px;}
.main_til_site a{color:#c1c1c1;}
.main_til_site a:hover{color:#08c;}


/* 首页项目dome */
.index_box{padding:0px 0;+position:relative;}
.index_img_box{padding:30px 0;text-align:center;}
.phoneapp_bottom{height:89px;background:#ececec;margin-top:-118px;margin-bottom:40px;+position:relative;+width:100%;+z-index:-10;}


/** 成功案例 **/
.case_more{display:block;width:64px;height:20px;line-height:20px;color:#2b5166;font-size:12px;text-align:center;border:1px solid #425e6d;float:right;}
.case_more:hover{ background:#8da9b8; text-decoration:none;}
.case_item{float:left;margin-right:23px;width:232px;position:relative; margin-bottom: 35px;}
.case_img{width:230px;overflow:hidden;}
.case_img img{width:100%;}
.case_text{padding:10px 0;}
.case_text h3{font-size:16px;color:#2b5166;}
.case_text p{font-size:12px;line-height:18px;color:#ababab;padding:5px 0;}
.case_footer{overflow:hidden;margin-top:10px;}
.case_info{overflow:hidden;color:#8da9b8;font-size:12px;margin-top:10px;}
.ico_look{width:18px;height:12px;background-position:-155px -257px;margin-right:5px;}
.ico_tool{width:15px;height:15px;background-position:-177px -257px;margin-right:5px;}
.case_btns{display:none;position:absolute;top:0;left:0;width:100%;height:100%;*zoom:1;
background:rgba(0,0,0,0.4) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#66000000', EndColorStr='#66000000')";}
.case_item:hover .case_btns{display:block;}
/*-*/
.index_case_box,.con_case_box{width:1023px;}
.index_case_box{padding-top:58px;position:relative;}
.index_case_box .slidesjs-control{overflow:hidden;}
.index_case_box .slidesjs-slide{padding:20px 0;}
.index_case_box .case_img{border:1px solid #d7d7d7;height:160px;}
.index_case_box .slidesjs-pagination {top:0;left:0;}
.index_case_box .slidesjs-pagination li{float:left;margin-right:15px;}
.index_case_box .case_info{position:absolute;right:0;top:-17px;width:59px;height:54px;background:url(../images/icos.png) -155px -180px;padding-left:13px;padding-top:4px;}
.index_case_box .slidesjs-pagination li a.active,.index_case_box .slidesjs-pagination li a.active:hover{background:#d7838d;}
/*-*/
.con_case_box{padding:20px 0;}
.con_case_box .case_item{border-bottom:5px solid #ebebeb;border-radius:2px;overflow:hidden;margin-bottom:35px;}
.con_case_box .case_img{border:1px solid #d7d7d7;border-bottom:0;height:260px;border-top-left-radius:2px;border-top-right-radius:2px;}
.con_case_box .case_text{border:1px solid #d7d7d7;border-top:0;padding:10px;background:#e1f1fa;border-bottom-left-radius:2px;border-bottom-right-radius:2px;}


a.btn,.btn{display:block;line-height:32px;border-radius:3px;width:110px;text-align:center;text-decoration:none;font-size:14px;}
.btn em{width:12px;height:11px;margin-left:13px;}

.btn_case_red,a.btn_case_red{float:left;border:1px solid #4cbcf1;color:#4cbcf1;}
.btn_case_red .icos{background-position:-155px -242px;}
.btn_case_red:hover{color:#4cbcf1;background:#fffbfb;}

.btn_case_dblue,a.btn_case_dblue{float:right;border:1px solid #425e6d;background:#425e6d;color:#e0eef6;}
.btn_case_dblue .icos{background-position:-172px -242px;}
.btn_case_dblue:hover{color:#e0eef6;background:#576e7b;}

.btn_case_pink,a.btn_case_pink{background:#df6372;border:1px solid #4cbcf1;color:#fff;margin:0 auto;margin-bottom:20px;margin-top:130px;}
.btn_case_pink:hover{background:#ed7987;}
.btn_case_pink .icos{background-position:-205px -242px;}

.btn_case_lblue,a.btn_case_lblue{background:#497790;border:1px solid #426c83;color:#fff;margin:0 auto;}
.btn_case_lblue:hover{background:#618aa0;}
.btn_case_lblue .icos{background-position:-188px -242px;}

a.case_btn{display:inline-block;background:#425e6d;border-radius:6px;width:102px;border:1px solid #335060;margin-right:5px;line-height:37px;text-align:center;color:#fff; text-decoration:none;}
.case_btn:hover{background:#546e7c;}
.btn_case_previous em{width:7px;height:13px;margin-right:10px;background-position:-200px -257px;background-position:-200px -257px;background-position:-200px -257px;}
.btn_case_next em{width:7px;height:13px;margin-left:10px;background-position:-211px -257px;}

.develop_btn{display:block;width:175px;height:44px;background:url(../images/icos.png) -235px -180px;margin-top:8px;}
.develop_btn:hover{background-position:-235px -230px;}

.service_pic{margin:52px 0 72px;}
.banner1{height:224px;background:url(../images/banner1.jpg) center center no-repeat;}

/** 左侧导航 **/
.side_menu{ float:left; width:139px; padding:15px 8px; background:#425e6d;}
.side_menu li{ height:31px; line-height:31px; border-bottom:1px solid #4f7a8d; text-align:center;}
.side_menu li a{ display:block; color:#fff; text-decoration:none;}
.side_menu li a:hover , .side_menu li a.active{ background:#fff; color:#4f7a8d;}

/*** 单页 ***/
.singlepege{ width:805px; font-size:14px; float:right; line-height:26px; background:#fff; color:#666; min-height: 500px}
.singlepege h2{font-size:28px;text-align:center;margin-bottom:20px;}
.singlepege h4{font-size:16px;font-weight:bold;line-height:35px;}
.singlepege_tiltwo{text-align:center;overflow:auto;padding-bottom:25px;}
.singlepege_tiltwo span{padding:0 15px;}
.singlepege img{max-width:800px;}
.singlepege .sj p,.singlepege .sj{text-indent:2em;}
.singlepege .jj p,.singlepege .jj{margin-bottom:10px;}

/*成员介绍*/
.admin_area{width:96%;height:auto!important;overflow:hidden;margin:15px auto;margin-bottom:35px;}
.admin_area li{height:auto!important;overflow:hidden;margin-top:30px;}
.admin_area li span{display:block;width:135px;height:170px;float:left;margin-right:20px; padding:6px;border:1px solid #dadada;text-align:center;}
.admin_area li span img{width:135px;height:170px;}
.admin_area li div{float:right;width:600px;}
.admin_area li div h5{border-bottom:1px dotted #dadada; font-size:16px;font-weight:bolder; padding:0 0 10px 0;}
.admin_area li div p{ text-indent:0;margin-top:10px;}
.law_area{width:94%;height:auto!important;overflow:hidden;margin:20px auto;}
.law_area dt{color:#00a3ee;font-weight:bolder;font-size:16px;margin:10px auto;height:35px;line-height:35px;padding:0 10px; background:#f5f5f5;}
.law_area dd{line-height:24px;padding:10px;}

.contact_area{width:90%;height:auto!important;overflow:hidden;margin:15px auto;margin-bottom:35px;}
.contact_area li{height:60px;paddint-top:15px;font-size:20px;margin-top:15px;}
.contact_area li span{display:block;width:50px;height:50px;float:left;margin-right:20px; background:url(../images/about-icos.png);margin-top:10px;}
.contact_area li div{line-height:50px; border-bottom:1px solid #dadada; float:right;width:600px; padding-top:9px;}
.contact_area li span.ico01{ background-position:0 0;}
.contact_area li span.ico02{ background-position:0 -50px;}
.contact_area li span.ico03{ background-position:0 -100px;}
.contact_area li span.ico04{ background-position:0 -150px;}
.contact_area li span.ico05{ background-position:0 -200px;}
.contact_area li span.ico06{ background-position:0 -250px;}


/** 系统演示 **/
.demo_box{ width:760px; line-height:25px; margin:20px auto 20px auto;;border: solid #d9d9d9 1px; background-color:#fbfbfb;}
.demo_box li{ text-align:left; padding-left:15px;}
.demo_imgbg{width:426px;height:297px;background-image:url(../images/demo-bg.gif);background-repeat: no-repeat;background-position: 0px center; border:none; margin:20px auto 20px auto;}
.demo_img{width:292px;height:182px;background-image:url(../images/demo.jpg);background-repeat: no-repeat;background-position: center center; border:none; margin:0px auto 0px auto; padding-top:95px;}

/** footer **/
.footer{padding:30px 0 40px;text-align:center;line-height:24px;color:#fff; background: #888}
.footer a:link,.footer a:visited{color:#fff;}
.footer a:hover{color:#eee;}
.footer em{margin:10px;}

/* 分页 */
.flickr{text-align:center;}
.flickr label,.before,.after{display:inline-block;*display:inline-block;*zoom:1;+display:inline;}
.before{margin-right:5px;}
.after a ,.after em {padding:0 6px;margin:0 5px;background:#f8f8f8;border:1px solid #dcdcdc;border-radius:2px;text-decoration:none;}
.after a:hover,.after a:active,.after em.current{background:#4cbcf1;border:1px solid #4cbcf1;color:#fff;}
.after em.disabled{color:#c9c9c9;}

/**/
.weservices{background:#efefef;border:1px solid #dedede;padding:40px;color:#666;line-height:26px;margin-bottom:25px; border-radius:4px;}
.weservices_til{text-align:center;margin-top:-49px;margin-bottom:20px;}
.ico_weservices{width:171px;height:44px;line-height:44px;background-position:-269px 0;font-size:20px;color:#fff;}

.service_item{overflow:auto;background:url(../images/service_item_bgline.png) right bottom no-repeat;padding:15px 0;color:#666;line-height:26px;margin-bottom:20px;}
.ico_service_1,.ico_service_2,.ico_service_3{width:147px;height:147px;margin-right:30px;float:left;}
.ico_service_1{background-position:0 -326px;}
.ico_service_2{background-position:-151px -326px;}
.ico_service_3{background-position:-302px -326px;}
.service_text{float:left;width:813px;}
.service_text p{margin:20px 20px 0 0;}
.service_text2{display:none;}
.show_more{display:inline-block;color:#2b5166;font-size:12px;float:right;border:1px solid #2b5166;margin:20px;padding:0 15px;line-height:20px;}

.services_price{margin-bottom:60px;}
.services_price table caption,.services_price table thead th,.services_price table tbody td,.services_price table tfoot td{text-align:center;}
.services_price table caption{font-size:20px;color:#4cbcf1;padding-bottom:30px;}
.services_price table th,.services_price table td{border:1px solid #dedede;padding:3px 10px;}
.services_price table thead th{background:#497790;color:#fff;}
.services_price table tfoot td,.services_price table tfoot th{background:#eee;}
.services_price table tfoot td em{color:#ff9601;}
.services_price table p{text-align:left;}
.ico_right{width:16px;height:16px;background-position:-155px -276px;}
.ico_wrong{width:16px;height:16px;background-position:-174px -276px;}

.case_detailed{margin:25px 0 70px;}
.case_detailed_l{float:left;width:558px;height:418px;background:url(../images/icos.png) 0 -481px;margin-right:30px;}
.case_diagram{widht:471px;height:270px;overflow:hidden;text-align:center;margin:0 auto;margin-top:18px;}
.case_diagram img{max-width:470px;}
.case_detailed_r{float:left;width:412px;}
.case_detailed_til{font-size:18px;color:#425e6d;}
.case_detailed_til b{font-size:28px;}
.case_detailed_info{padding:17px 0;border-top:1px dashed #d8d5d5;border-bottom:1px dashed #d8d5d5;margin:10px 0 20px;}
.case_detailed_info .case_logo{height:98px;width:90px;text-align:center;
	/*非IE的主流浏览器识别的垂直居中的方法*/
	display: table-cell;
	vertical-align:middle;
	/*设置水平居中*/
	text-align:center;
	/* 针对IE的Hack */
	*float:left;
	*display: block;
	*font-size:98px;/*约为高度的0.873，200*0.873 约为175*/
	*font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
	*line-height:1;}
.case_detailed_info .case_logo img{max-width:70px;vertical-align: middle;}
.case_info_text{float:left;width:300px;padding:5px 0 5px 20px;min-height:88px;color:#ababab;line-height:22px;font-size:12px;border-left:1px solid #d8d5d5;}

.case_imgs img{width:1000px;margin-bottom:30px;}

.newslist a{color:#333; text-decoration:none;}
.newslist li{border-bottom:1px solid #cfcfcf;padding:10px 0;font-size:18px;line-height:30px;}
.newslist li:hover{background:#fcfcfc;}
.newslist .datetime{float:right;font-size:14px;}
.newslist p{font-size:14px;color:#666;}

/***方案流程页***/
.apple_box{width:290px;height:165px;padding:13px 27px 80px 27px; background:url(../images/apple.png); position:relative;}
.apple_box_imgbox{width:100%;height:165px;overflow:hidden;}
.apple_box_a:link{ position:absolute;bottom:-30px;display:block; width:290px; text-align:center;color:#555;}
.mt50{margin-top:50px;}
.bgef{ background:#efefef}
.liucheng{padding:30px 0;}
.liucheng dt{color:#425e6d;width:100px;border-right:1px solid #ccc;height:170px;padding:10px 0;margin-top:15px;float:left;}
.liucheng dt .english_til{font-size:16px;color:#4cbcf1;font-family:"Perpetua Titling MT","宋体";}
.liucheng dd{width:240px;padding-top:25px;float:left;margin-left:67px;position:relative;}
.liucheng dd.first{margin-left:45px;}
.lc_title{position:absolute;top:-38px;left:30px;width:150px;height:36px;padding:4px 12px; background:url(../images/icos.png) -268px 0;color:#fff;line-height:34px;text-align:center;font-size:18px;}
.lc_title *{ vertical-align:middle;}
.lc_title span{font-size:14px;line-height:14px;padding-left:6px;display:inline-block;*display:inline;*zoom:1;overflow:hidden;}
.lc_title span em{float:left;}
.liucheng dd p{margin:15px 10px 10px 10px;font-size:12px;color:#666;line-height:24px;}
.liucheng dd i{display:block;width:50px;height:49px; background:url(../images/icos.png);margin:0 auto;}
.liucheng dd i.icos_lc01{ background-position:0 -938px;}
.liucheng dd i.icos_lc02{ background-position:-50px -938px;}
.liucheng dd i.icos_lc03{ background-position:-100px -938px;}
.liucheng dd i.icos_lc04{ background-position:-150px -938px;}
.liucheng dd i.icos_lc05{ background-position:-200px -938px;}
.liucheng dd i.icos_lc06{ background-position:-250px -938px;}
.liucheng dd i.icos_lc07{ background-position:-300px -938px;}
.liucheng dd i.icos_lc08{ background-position:-350px -938px;}
.liucheng dd i.icos_lc09{ background-position:-400px -938px;}

/**/
.grid_loan{border:1px solid #eee;}
.grid_loan th,.grid_loan td{padding:5px 10px;}
.grid_loan thead th{text-align:center;background:#f5f5f5;border:1px solid #e8e7e7;line-height:35px;font-size:1.1em;}
.grid_loan tbody th{text-align:center;border:1px solid #e8e7e7;font-weight:bold;}
.grid_loan tbody td{border:1px solid #e8e7e7;}


/** 专题页 **/
/*** iLoan产品页 ***/
.iloanpege{ width:955px; font-size:14px; float:right; line-height:26px; background:#fff; color:#666;}
.iloanpege h2{font-size:28px;text-align:center;margin-bottom:20px;margin-top:20px;}
.iloanpege h4{font-size:16px;font-weight:bold;line-height:35px;}
.iloanpege_tiltwo{text-align:center;overflow:auto;padding-bottom:25px;}
.iloanpege_tiltwo span{padding:0 15px;}
.iloanpege img{max-width:950px;}
.iloanpege .sj p,.iloanpege .sj{text-indent:2em;}
.iloanpege .jj p,.iloanpege .jj{margin-bottom:10px;}

/* 电商众筹 */
.subject_dszc{background:url(../images/subject_dszc_topbg.png) top center no-repeat;positrion:relative;}
.subject_dszc_bottombg{background:url(../images/subject_dszc_bottombg.png) bottom center no-repeat;padding-bottom:100px;}
.dszc_til{font-size:22px;color:#000;text-align:center;margin:20px 0;}
.dszc_til i{width:24px;height:24px;margin-right:10px;}
.ico_dszc_1{background-position:0 0;}
.ico_dszc_2{background-position:0 -26px;}
.ico_dszc_3{background-position:0 -52px;}
.ico_dszc_4{background-position:0 -78px;}
.dszc_text{width:633px;margin:0 auto;border:2px dashed #cfcfcf;border-ra dius:5px;color:#5d5d5d;}
.dszc_text p{padding:20px 30px;}
.dszc_arrow{margin:30px 0;text-align:center;}
.dszc_arrow i{width:32px;height:32px;background-position:-28px 0;}

/* 微信webapp */
.webapp_box{border-bottom:1px solid #e9e9e9;text-align:center;}
.webapp_box_bg{background:url(../images/trailer.png);}
.webapp_img1{height:486px;background:url(../images/subject_webapp_01.jpg) center center no-repeat;}
.webapp_img2{height:1050px;width:1000px;margin:0 auto;background:url(../images/subject_webapp_02.png) center center no-repeat;}
.webapp_img3{height:618px;width:1000px;margin:0 auto;background:url(../images/subject_webapp_03.png) bottom left no-repeat;}
.webapp_img4{height:622px;width:1000px;margin:0 auto;background:url(../images/subject_webapp_04.png) bottom right no-repeat;}
.webapp_img5{height:623px;width:1000px;margin:0 auto;background:url(../images/subject_webapp_05.png) bottom left no-repeat;}
.webapp_img6{height:796px;width:1000px;margin:0 auto;background:url(../images/subject_webapp_06.png) bottom right no-repeat;}

.webapp_con{width:490px;color:#202020;}
.webapp_con h2{font-size:28px;}
.webapp_con h4 span,.webapp_con h4 em{display:inline-block;*display:inline;*zoom:1;}
.webapp_con h4 span{height:1px;background:#202020;padding:0 50px;margin:13px 0 50px;}
.webapp_con h4 em{font-size:18px;padding:0 10px;background:#fff;margin-top:-15px;}
.webapp_con p{width:279px;margin:0 auto;text-align:left;}

.webapp_img3 .webapp_con{margin-top:220px;}
.webapp_img4 .webapp_con{margin-top:261px;}
.webapp_img5 .webapp_con{margin-top:220px;}
.webapp_img6 .webapp_con{margin-top:307px;}

/* 手机app */
.phoneapp_img1{height:535px;background:url(../images/subject_phoneapp_01.jpg) center center no-repeat;}
.phoneapp_til{height:0;border-bottom:1px dashed #d5d5d5;margin:75px 0 45px;text-align:center;}
.phoneapp_til span{display:inline-block;*display:inline;*zoom:1;font-size:24px;color:#161616;margin-top:-25px;background:#fff;padding:5px 15px;border:1px dashed #d5d5d5;border-radius:3px;}
.phoneapp_text{width:738px;margin:0 auto;margin-bottom:25px;}
.phoneapp_box{border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;background:#f4f4f4;}
.phoneapp_box .phoneapp_til span{background:#f4f4f4;}

/* crm系统 */
.subject_crmsystem .crmsystem_img1{ background:#adb2a6 url(../images/crm_top.jpg) no-repeat center top; width:100%; height:405px;}
.subject_crmsystem .crmitem{ width:100%; border-bottom:1px solid #dfdfdf; padding:45px 0; color:#4b4b4b; line-height:24px;}
.subject_crmsystem .crmitem dt{ font-size:22px; font-weight:bold; padding-bottom:8px;}
.bg_f8f8f8{ background-color:#f8f8f8}
.subject_crmsystem .crmitem em{color:#20a8b8;}
.subject_crmsystem .gwyy_title{padding-left:35px; background:url(../images/disc.png) no-repeat 2px 41px; font-size:16px; color:#20a8b8; padding-top:30px;}
.subject_crmsystem .gwyy_main{padding-left:35px; background:url(../images/disc.png) no-repeat 2px 11px;}



.slogan {
  height: 85px;
  background: #efefef;
}
.slogan a{
	text-decoration: none;
}

.slogan .slogan_con {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  clear: both;
  line-height: 74px;

}
.slogan .slogan_con .fontcolor3 {
  color: #000;
  display: inline-block;
  width: 160px;
}
.slogan .slogan_con .fontcolor4 {
  color: #fe316a;
  display: inline-block;
}


.superiority {
  height: 280px;
}

.superiority ul {
  width: 1200px;
}
.superiority li {
  width: 242px;
  padding: 20px;
  float: left;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 8px;
  margin: 0 40px;
}
.superiority span.intro_title {
  font: 18px/45px "Microsoft YaHei";
  color: #666;
  text-align: center;
}
.superiority span {
  display: block;
}
.superiority span.intro_fig_1 {
  background-position: 0 0;
}
.superiority span.intro_fig {
  background: url(../images/intro_ico.png) no-repeat;
  width: 82px;
  height: 82px;
  display: inline-block;
  transition: all .1s ease-in-out 0s;
  cursor: pointer;
  margin: 15px 0;
}
.superiority span.intro_fig_1 {
    background-position: 0 0
}

.superiority span.intro_fig_2 {
    background-position: -84px 0
}

.superiority span.intro_fig_3 {
    background-position: -168px 0
}

.superiority span.intro_fig_1:hover {
    background-position: 0 -84px
}

.superiority span.intro_fig_2:hover {
    background-position: -84px -84px
}

.superiority span.intro_fig_3:hover {
    background-position: -168px -84px
}

.superiority span.intro_details {
  font: 12px/24px "Microsoft YaHei";
  color: #999;
}
.superiority span.intro_details a {
    font-size: 14px;
    font-family: Microsoft YaHei;
    color: #666;
    border: 1px solid #f7b854;
    border-radius: 5px;
    padding: 0 20px;
    display: inline-block;
    line-height: 30px;
    margin: 10px 0
}

.superiority span.intro_details a:hover {
    color: #f7b854;
    text-decoration: none;
}

.dynamic .tit {
  padding-top: 40px;
  clear: both;
  width: 100%;
}

.conbox {
  width: 1100px;
  margin: 0 auto;
}

.dynamic .tit .tit-title {
  width: 100%;
  text-align: left;
  font-size: 24px;
  line-height: 30px;
  display: inline-block;
}
.dynamic .tit .tit-title .fontcolor6 {
  color: #f49416;
}
.dynamic .tit .tit-cont {
  width: 100%;
  border: 1px solid #eee;
  display: inline-block;
  margin: 30px 0;
  padding: 15px 0;
}
.dynamic .tit .tit-cont ul {
  width: 100%;
}
.dynamic .tit .tit-cont ul li {
  width: 240px;
  float: left;
  margin: 15px 40px;
  padding: 0 20px;
}
.dynamic .tit .tit-cont ul li .sp-left {
  width: 24px;
  display: inline-block;
  float: left;
}
.dynamic .tit .tit-cont ul li .sp-right {
  float: right;
  line-height: 30px;
}
.dynamic .tit .tit-cont ul li .sp-right p{
	font-size: 12px;
	color: #666666
}

.pdlqi{
	padding-left: 35px;
}
.p-content .pcon-box .pcon-box-tile {
  text-align: center;
  font-size: 26px;
  color: #383838;
  font-weight: bold;
  margin: 25px 0 25px;
}
.p-content .pcon-box table {
  width: 100%;
}
.p-content .pcon-box table tr .stylew1 {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  width: 100px;
}
.p-content .pcon-box table tr {
  width: 100%;
  line-height: 50px;

}

.p-content .pcon-box table strong{
	color: #666
}
.p-content .pcon-box table tr .stylew2 {
  font-size: 14px;
  color: #666;
  padding: 0 10px;
  width: 880px;
  overflow: hidden;
  white-space: nowrap;
}
.p-content .pcon-box table tr td .chankan {
  line-height: 50px;
  display: inline-block;
  font-size: 14px;
  margin-right: 30px;
  float: right;
}
.p-content .pcon-box table tr td .chankan a {
  color: #e15f47;
  text-decoration: underline;
}
.p-content .pcon-box table tr td .qqspan a img {
  margin-top: 15px;
  float: left;
  margin-left: 20px;
}


.hezuohuoban h2{
	text-align: center;
    line-height: 86px;
    font-size: 42px;
    margin: 0;
    /*margin-top: -5px;*/
}

.clear{
	display: block;
	overflow: hidden;
	height: 1px;
	clear: both;
}

.hzhb a{
	display: block;
	border:1px solid #ccc;
	width: 248px;
	height: 180px;
	float: left;
	margin-left: -1px;
	margin-bottom: -1px;
	-webkit-transition:all 500ms;
	-moz-transition:all 500ms;
	-ms-transition:all 500ms;
	-o-transition:all 500ms;
	transition:all 500ms;
	filter: alpha(opacity=50);
    -ms-filter:progid:DXImageTransform._Microsoft._Alpha(Opacity=50);
	opacity: 0.5;

}

.hzhb a:hover{
	filter: alpha(opacity=100);
    -ms-filter:progid:DXImageTransform._Microsoft._Alpha(Opacity=100);
	opacity: 1;
}